.result-table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
	/*border: 1px solid #50fa7b;*/
}

.result-table th
{
	/*padding: 12px 17px 12px 17px;*/
    padding-right: 7px;
	font-weight: normal;
	font-size: 13px;
	color: #50fa7b;
	border-bottom: 1px dashed #50fa7b;
}

.result-table td
{
	/*padding: 7px 17px 7px 17px;*/
	color: #50fa7b;
}

.result-table tbody tr:hover td
{
	/*color: #339;*/
	background: darkslategray;
}